.border{
    border:3px solid red  ;
    height: 70px;
    width:90px;
    border-bottom: 3px solid black;
    border-top: 3px solid green;
    border-left: 3px solid blue;
    border-right: 3px solid yellow;
    border-style:ridge;
    border-spacing: 5px;
    border-collapse: separate;
    border-radius: 10px;
}

.c1{
    border:3px solid black;
    height: 20px;
    width: 70px;
    border-radius: 5px;



}
